* {
    font-family: "Jetbrains Mono";
    font-size: 18px;
    color: #f0f0f0;
}

#scroll {
    padding: 0.3rem;
}

#input {
    outline: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    font-size: 22px;
    border-bottom: 2px solid;
}

#entry {
    border-radius: 0;
    font-weight: bold;
    font-size: 8px;
}

#entry:selected {
    outline: none;
}

#text:selected {
    font-style: italic;
    font-weight: bold;
}
